.carousel-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.slider-wrapper > ul > li > div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    height: 25em;
}

.slider-wrapper > ul > li > div > .project-img {
    margin: 1em auto;

}

.link-element-carousel {
    height: 50%;
    width: 10%;
}


.control-dots {
    display: flex;
    justify-content: center;
    margin-top: 70%;
}


.legend > a{
    margin-top: 1em;
}

.legend{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 60%;
    background-color: #000;
}

.legend:before{
    background-color: #000;
    display: block;
    cursor: pointer;
}


.thumbs-wrapper {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.carousel {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.thumb > .project-img {
    width: 50rem !important;
    height: 5rem !important;
}

.carousel-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
